#showArea
{
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: auto;
    margin-top: 30px;
}

#toggleButtons
{
    margin: auto;
    display: flex;
    width: 20%;
    justify-content: space-evenly;
}

#toggleButtons > *
{
    height: 50px;
    border-radius: 10px;
    background-color: white;
    border: 1px solid lightgray;
    font-family: Georgia, 'Times New Roman', serif;
    color: dimgray;
}

form#newContent{
    display: none;
    flex-direction: column;
    margin: auto;
    width: 75%;
    align-items: center;
}

form#filterContent{
    display: none;
    margin: auto;
}

.formRow
{
    width: 400px;
    font-size: 1.3em;
    font-family: Georgia, 'Times New Roman', serif;
    color: dimgray;
}

article.opinion{
    border: 1px solid lightgray;
}

article.recipe{
    border: 1px solid lightgray;
}

article.update{
    border: 1px solid lightgray;
}

.marker
{
    float:right;
    font-size: 1.5em;
    padding: 4px 10px;
    border-radius: 20px;
    color: dimgray;
    font-family: Georgia, 'Times New Roman', serif;
}

.date
{
    float:left;
    font-size: 1.5em;
    color: gray;
    font-family: Georgia, 'Times New Roman', serif;
}

.opinion .marker
{
    background-color: linen;
}

.recipe .marker
{
    background-color: seashell;
}

.update .marker
{
    background-color: mistyrose;
}

body{
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: ivory;
    font-family: Georgia, 'Times New Roman', serif;
    color: dimgray;
}

main{
    width: 100%;
}

main h1
{
    text-align: center;
    font-size: clamp(12px, 4vw, 24px);
    font-weight: normal;
    color: black;
}

header{
    background-color: seashell;
    text-align: center;
    position: sticky;
    top: 0px;
    font-size: 2.5vw;
    width: 100%;
    margin: 0;
    border: 1px solid lightgray;
    font-family: Georgia, 'Times New Roman', serif;
    color: dimgray;
}

main > div#articleList
{
    display:flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', serif;
}

article{
    width: 30%;
    margin-left:1.5%;
    margin-right: 1.5%;
    text-align: justify;
    font-size: clamp(8px, 1.5vw, 12px);
    border-radius: 8px;
    background-color: white;
}

footer
{
    padding-top: 5vh;
    font-size: 2vw;
    padding-bottom: 10vh;
    color: dimgray;
    background-color: linen;
    font-family: Georgia, 'Times New Roman', serif;
}

a:visited
{
    color: rosybrown;
}

footer p{
    text-align: center;
    margin: auto;
    width: 50%;
}

address > div
{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
    width: 75%;
    margin: auto;
}

nav{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    margin: 0;
    padding: 0;
    justify-content: space-evenly;
    background-color: white;
}

nav button
{
    color: dimgray;
    background-color: seashell;
    text-decoration: none;
    font-size: 1.5vw;
    display: inline;
    width: 20%;
    padding: 1vw 0vw;
    text-wrap-mode: nowrap;
    border: 1px solid lightgray;
    font-family: Georgia, 'Times New Roman', serif;
}

nav button:hover{
    background-color: linen;
}

nav button:active{
    background-color: mistyrose;
}

@media screen and (max-width: 600px) {
    article{
        width: 75%;
        margin: auto;
    }
}

@media screen and (max-width: 1000px){

    main{
        width: 100%;
    }

    header{
        width: 100%;
    }
}
